<div>
    <h2 id="page-heading">
        <span>Imgs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-img" [routerLink]="['/img/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Img
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="imgs?.length === 0">
        <span>No imgs found</span>
    </div>
    <div class="table-responsive" *ngIf="imgs?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Title</span></th>
            <th><span>Content</span></th>
            <th><span>Writer</span></th>
            <th><span>Date</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let img of imgs ;trackBy: trackId">
                <td><a [routerLink]="['/img', img.id, 'view' ]">{{img.id}}</a></td>
                <td>{{img.title}}</td>
                <td>{{img.content}}</td>
                <td>{{img.writer}}</td>
                <td>{{img.date}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/img', img.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/img', img.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/img', { outlets: { popup: img.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
