<div>
    <h2 id="page-heading">
        <span>Upload Images</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-upload-image" [routerLink]="['/upload-image/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Upload Image
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="uploadImages?.length === 0">
        <span>No uploadImages found</span>
    </div>
    <div class="table-responsive" *ngIf="uploadImages?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Image Name</span></th>
            <th><span>Image Path</span></th>
            <th><span>Image</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let uploadImage of uploadImages ;trackBy: trackId">
                <td><a [routerLink]="['/upload-image', uploadImage.id, 'view' ]">{{uploadImage.id}}</a></td>
                <td>{{uploadImage.imageName}}</td>
                <td>{{uploadImage.imagePath}}</td>
                <td>
                    <a *ngIf="uploadImage.image" (click)="openFile(uploadImage.imageContentType, uploadImage.image)">
                        <img [src]="'data:' + uploadImage.imageContentType + ';base64,' + uploadImage.image" style="max-height: 30px;" alt="uploadImage image"/>
                    </a>
                    <span *ngIf="uploadImage.image">{{uploadImage.imageContentType}}, {{byteSize(uploadImage.image)}}</span>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/upload-image', uploadImage.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/upload-image', uploadImage.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/upload-image', { outlets: { popup: uploadImage.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
